@page "/table"

<h1>Custom dashboard</h1>

<div>
    <form>
        <label> Ingreso mensual</label>
        <p>
            
            <input type="text" @bind-value="monthly" @oninput="ValidateInt"/>
        </p>

        <label> Restante</label>
        <p>
            <input type="text" @bind-value="left">
        </p>

        <label>Name tax</label>
        <p>
            <input type="text" @bind="_taxname" />
        </p>

        <label>Value tax</label>
        <p>
            <input type="number" @bind="_taxvalue"/>
        </p>
    </form>

    <div class="container">
        <Card Money="100" Name="Default tax"></Card>
        @foreach(var t in List)
        {
              <Card Money="@t.TaxValue.ToString()" Name="@t.TaxName"></Card>
        }
        <button class="add" @onclick="Add"> + </button>
    </div>
</div>


<style>
    .container
    {
        border-radius:8px;
        border:1px solid black;
    }
</style>
@code {
    public int left { get; set; }

    public int monthly { get; set; }

    private string? _taxname;

    private int _taxvalue = 1;

    private List<Tax> List = new();

    public void ValidateInt(ChangeEventArgs e)
    {
        var value = e.Value.ToString();

        var nums = value.Where(char.IsDigit).ToArray();

        if(value.Length != nums.Length)
        {
            monthly = int.Parse(string.Join("", nums));
        }

    }

    public void Add()
    {

        if(!string.IsNullOrWhiteSpace(_taxname) && _taxvalue >= 1)
        {
            List.Add(new Tax { TaxName = _taxname, TaxValue = _taxvalue});
            _taxname = string.Empty;
            _taxvalue = 1;
            
        }
    }
}
