@page "/table"

<h1>Custom dashboard</h1>

<div>
    <form>
        <label> Ingreso mensual</label>
        <p>
            
            <input type="text" @bind-value="monthly" @oninput="ValidateInt"/>
        </p>

        <label> Restante</label>
        <p>
            <input type="text" @bind-value="left">
        </p>

        <label>Item</label>
        <p>
            <input type="text" @bind-value="value" />
        </p>
    </form>

    <div class="container">
        <Card Money="100" Name="Default tax"></Card>
        @foreach(var s in List)
        {
            
            <Card Money="@s.Split("-")[0]" Name="@s.Split('-')[1]"></Card>
        }
        <button @onclick="Add"> Add item</button>
    </div>
</div>


<style>
    .container
    {
        border-radius:8px;
        border:1px solid black;
    }
</style>
@code {
    public int left { get; set; }

    public int monthly { get; set; }

    public string value { get; set; }

    private List<string> List = new List<string> { "200-Tax2", "400-Tax3" };

    public void ValidateInt(ChangeEventArgs e)
    {
        var value = e.Value.ToString();

        var nums = value.Where(char.IsDigit).ToArray();

        if(value.Length != nums.Length)
        {
            monthly = int.Parse(string.Join("", nums));
        }

    }

    public void Add()
    {
        List.Add(value.ToString().Split(',')[0] + value.ToString().Split(",")[1]);
    }
}
