<div class="card">
    <p>@Money</p>

    <p>@Name</p>
</div>

<style>

</style>

@code {
    [Parameter]
    public string Money { get; set; }

    [Parameter]
    public string Name { get; set; }
}
