<div class="card">
    <p>@Money</p>

    <p>@Name</p>
</div>

<style>
    .card{
        width:50%;
        display:flex;
        justify-content:space-between;
        border:1px solid red;
        padding:1rem;
        border-radius:8px;
    }
</style>

@code {
    [Parameter]
    public string Money { get; set; }

    [Parameter]
    public string Name { get; set; }
}
