<nav>
    <ul>
        <li><NavLink href="/table">Inicio</NavLink></li>
        <li><NavLink href="/todo">Lista de tareas</NavLink></li>
        <li><NavLink href="#">Servicios</NavLink></li>
        <li><NavLink href="#">Contacto</NavLink></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #333;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }

</style>

@code {

}
