@inject IJSRuntime js

<div>
    <button class="btn btn-primary" @onclick="Open">@Title</button>
    <div class="window">
        <div>
            <p>Window</p>
            <button @onclick="Close">Close</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    public async Task Open(EventHandler e) => await js.InvokeVoidAsync("open", e);

    public async Task Close(EventHandler e)
    {
        await js.InvokeVoidAsync("close", e);
    }
}
